  body {
        background-color: #EEE;
        font-family: Helvetica, Arial
      }
    
    p {
    text-indent: 1.5em;
    }
    
    a {
        text-decoration: none;
        color: red;
      }
      
      h1 {
        margin: 0;
      }
      
      #container {
        background-color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      
      #header {
        background-color: #7FDBFF ;
        color: white;
        text-align: center;
        padding: 10px;
      }
    
      #content {
        padding: 1px;
    margin-top: 0px;
      }
      
      #nav {
        width: 180px;
        height: 570px;
        float: left;
    background-color: #EBF5FB;
    margin-right: 30px;
    border-right:1px solid #999999;
    border-top:1px solid #7FDBFF;
    line-height: 25px;
    }
   
      #nav.selected {
        font-weight: bold;
      }
      
      #nav ul {
        list-style-type: none;
        padding: 0;
      }
      
      #big_nav_2 {
        width: 180px;
        height: 120%;
        float: left;
    background-color: #EBF5FB;
    margin-right: 30px;
    border-right:1px solid #999999;
    border-top:1px solid #7FDBFF;
    line-height: 25px;
    }
    
      #big_nav_2 ul {
        list-style-type: none;
        padding: 0;
      }

      #main {
        width: 600px
        float: right;
      }
    
      #footer {
        clear: both;
        padding: 10px;
        background-color: #999999;
        color: white;
        text-align: right;
      }
      
      .floatRight {
        float:right;margin-left:20px
      }
